/*=================about me ================*/
.main_div_2{
    background-color: rgb(20, 19, 20);
    margin-top: 0px;
    display: flex;
    flex-direction: row;

}
.about_me{
    color: white;
    margin-right: 150px;
}
.my_photo{
    align-content: center;
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
     
}
.hello{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 90px; 
    margin-bottom: 0px;
}
.brief{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-top: 0px;
}
.class{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-left: 90px;
}
.dummy{
    margin-left: 90px;
}
.hire_port{
    margin-left: 90px;
    margin-top: 30px;
}
.hire{
    margin-right: 10px;
    height: 35px;
    width: 100px;
    background-color: purple;
    color: white;
    border: none;
    border-color: purple;
    border-radius: 5px;
    cursor: pointer;
}
.port{
    height: 35px;
    width: 100px;
    color: purple;
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
    border-width: 2px;
    background-color:rgb(20, 19, 20) ;
    cursor: pointer;
}
.port:hover{
    background-color: purple;
    color: white;
}